.singleImage{
    width:300px;
    height:300px;
    clear:both;
   }
   .singleImage>div{
    width:100px;
    height:100px;
    float:left;
    line-height:100px;
    text-align:center;    
   }
   .sngleImage>div>img{
    display:inline-block;
    vertical-align:middle;
    max-width:80%;
    max-height:80%;
   }